body{
  margin: 50px 0px 0px 100px;
  background-color: #BFBFBF ;
}

a {
  color: black;
  font-weight: bold;
}

td {
  padding: 15px;
}

.btn-left{
  width: 150px;

  margin-left: 100px;
}
.btn-right{
  margin-left: 10px;
  width: 150px;
}

.btn{
  margin-bottom: 50px;
}
